config edge
        option ipaddr           ''
        option supernode        ''
        option supernode2       ''
        option community        ''
        option key              ''
        option route            0
        option enabled          0

config supernode
        option port             55
        option enabled          0
