config edge
        option interface        ''
        option ipaddr           ''
        option supernode        ''
        option supernode2       ''
        option community        ''
        option key              ''
        option netmask          ''
        option route            0
        option enabled          0

config supernode
        option port             53
        option enabled          0
